{% extends "admin/base_site.html" %}
{% load i18n staticfiles humanize %}

{% block content_title %}<h1>{{ _('Import data agent') }}</h1>{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript">
        {% if is_success or import_obj %}
        (function($) {
            'use strict';
            $(document).ready(function() {
                setTimeout(function() {
                  location.href='?';
                }, 2500);
            });
        })(django.jQuery);
        {% endif %}
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
{% endblock %}


{% block title %}{{ _('Import data agent') }} | {{ _('Django site admin') }}{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {{ _('Import data agent') }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

    {% if import_obj %}
        <p><span style="color: green">Импорт данных в процессе...</span></p>
        <p>
            Файл: <b>"{{ import_obj.file_name }}"</b><br/>
            Дата начала: <b>{{ import_obj.date_start|naturaltime }}</b><br/>
            Строк обработано: <b>{{ import_obj.rows_process }} из {{ import_obj.rows_count }}</b><br/>

        </p>
        <input type="button" value="{% trans "Refresh" %}" class="default" onclick="location.reload();"> &nbsp;
        <input type="button" value="{% trans "Cancel" %}" class="default" onclick="location.href='?action=cancel'">
    {% else %}

    <form enctype="multipart/form-data" action="" method="post" id="import_form" novalidate="">
        {% csrf_token %}

        {% if last_import %}
            <div style="padding: 10px 10px; background: #eee; margin: 0 0 10px 0">
            Последний импорт:  <b style="color: {% if last_import.status == 2 %}green{% endif %}{% if last_import.status == 3 %}black{% endif %}{% if last_import.status == 4 %}red{% endif %}">{{ last_import.get_status_display }}</b>.&nbsp;
            Сделан <b>{{ last_import.date_start|naturaltime }}</b>.&nbsp;
            Файл: <b>"{{ last_import.file_name }}"</b>{% if last_import.rows_count is not None %} из {{ last_import.rows_count }} строк{% endif %}.&nbsp;
            </div>
        {% endif %}

        <div>
            {% if form.file.errors %}
            <p class="errornote">
                {% trans "Please correct the errors below." %}
            </p>
            {% endif %}
            <fieldset class="module aligned ">
                <div class="form-row field-value {% if form.file.errors %}errors{% endif %}">
                    {% if form.errors %}
                    <ul class="errorlist">
                        {% for error in form.file.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div>
                        <label style="width: 400px" class="required" for="{{ form.file.id_for_label }}">{{ form.file.label }}:</label>
                        {{ form.file }}
                    </div>
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% trans "Import" %}" class="default">
            </div>
        </div>


    </form>
    {% endif %}
</div>
{% endblock %}

