# Temp files
*.pyc
src/static/map/data.json

# Media files
static/*
media/*
media

# Development files
.idea/*
.vscode/*
venv/*
temp/*
data/server.txt
src/dockerfile
src/docker-compose.yml
celerybeat-schedule
#*.js

src/.coverage