{% extends "admin/base_site.html" %}
{% load i18n staticfiles humanize %}

{% block content_title %}<h1>{{ _('Change password') }}</h1>{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript">
        {% if is_success or import_obj %}
        (function($) {
            'use strict';
            $(document).ready(function() {
                setTimeout(function() {
                  location.href='?';
                }, 2500);
            });
        })(django.jQuery);
        {% endif %}
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}


{% block title %}{{ _('Change password') }} | {{ _('Django site admin') }}{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' 'users' %}">Пользователи</a> &rsaquo; {{ _('Change password') }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

    <form enctype="multipart/form-data" action="{% url 'users:password' %}" method="post" novalidate="">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <div class="form-row field-value {% if form.email.errors %}errors{% endif %}">
                {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.email.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div>
                    <label style="width: 400px" class="required" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                    {{ change_password_form.email }}
                </div>
            </div>
            <div class="form-row field-value {% if form.password.errors %}errors{% endif %}">
                {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.password.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div>
                    <label style="width: 400px" class="required" for="{{ form.id_for_label }}">{{ form.password.label }}:</label>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-row field-value {% if form.confirm_password.errors %}errors{% endif %}">
                {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.confirm_password.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div>
                    <label style="width: 400px" class="required" for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}:</label>
                    {{ form.confirm_password }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans "Change" %}" class="default">
        </div>

    </form>

</div>
{% endblock %}
