{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content_title %}<h1>{{ _('Отчет по задачам торговых представителей') }}</h1>
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="/jsi18n/"></script>
    <link href="{% static "admin/css/vendor/select2/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "admin/css/autocomplete.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "public_model/boolean_switch.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/select2/select2.full.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/autocomplete_light.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/i18n/ru.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/select2.css" %}">
    <link href="{% static "admin/css/vendor/select2/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "admin/css/autocomplete.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block usertools %}
<div id="user-tools">
    {% block welcome-msg %}
        {% trans 'Welcome,' %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
    {% endblock %}
    {% block userlinks %}
        {% if site_url %}
            <a href="{{ site_url }}">{% trans 'View site' %}</a> /
        {% endif %}
        {% if user.is_active and user.is_staff %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
</div>
{% endblock %}

{% block title %}{{ _('Icemans report') }} | {{ _('Django site admin') }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'iceman:reports' %}">{% trans 'Reports' %}</a>
    &rsaquo; {{ _('Icemans report') }}
    </div>
{% endblock %}

{% block content %}
<div id="content-main">

    <form method="get" action="{% url 'iceman:report-tasklist' %}">
    <table style="border: 0">
        <tr>
            <td style="vertical-align: middle; border-right: 1px solid #eee; padding: 0 20px 10px 0">
                Дата начала: &nbsp; с &nbsp; <input type="text" name="datetime_start" value="{{ datetime_start|date:"d.m.Y" }}" size="10" id="orders_datetime_start" class="vDateField">
            <span class="datetimeshortcuts"></span>
            &nbsp;&nbsp;&nbsp; по &nbsp; <input type="text" name="datetime_end" value="{{ datetime_end|date:"d.m.Y" }}" size="10" id="orders_datetime_end" class="vDateField">
            <span class="datetimeshortcuts"></span>
            </td>
       </tr>
       <tr>
            <td style="vertical-align: middle; border-right: 1px solid #eee; padding: 20px 20px 20px 0">
                Торговый представитель: &nbsp; &nbsp;
                <select name="id_user" data-placeholder="Выберите торгового представителя" autocomplete='off' id="id_user" data-autocomplete-light-language="ru" data-autocomplete-light-url="/survey/autocomplete/users/" data-autocomplete-light-function="select2">
                    {% for i in user_selected %}  
                        <option value="{{ i.id }}" selected>{{ i }}</option>
                    {% endfor %} 
                </select>
            </td>

            <td style="vertical-align: middle; border-right: 1px solid #eee; padding: 20px 20px 20px 20px">
                Выполненные/не выполненные: &nbsp; &nbsp;
                <select name="task_isdone" data-placeholder="Выберите выполненные задачи или не выполненные" autocomplete='off' id="task_isdone" data-autocomplete-light-language="ru" data-autocomplete-light-url="/iceman/autocomplete/taskisdone/" data-autocomplete-light-function="select2">
                        <option value="{{ task_isdone_selected }}" selected>{{ task_isdone_selected }}</option>
                </select>
            </td>

            <td style="vertical-align: middle; padding: 10px 20px 10px 20px">
                <input type="submit" name="build_report" value="{% trans "Построить отчет" %}" id="report_surveyors" class="default"> &nbsp;
            </td>
       </tr>
    </table>
    </form>

    <div class="results">
        <div class="module filtered" id="changelist" style="margin-bottom: 0">
            <table id="result_list" style="height: 100%">
                <thead>
                    <tr>
                        <th scope="col">
                           <div class="text"><span>Торговый представитель</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Задача</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Маршрут</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Магазин</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Дата</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Дата начала</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Дата завершения</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col">
                           <div class="text"><span>Выплата пользователю</span></div>
                           <div class="clear"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data %}
                    {% for i in r.data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td class="field-user_surname">{{ i.fio }}</td>
                        <td class="field-user_surname">{{ i.task }}</td>
                        <td class="field-user_surname">{{ i.route }}</td>
                        <td class="field-user_surname">{{ i.store }}</td>
                        <td class="field-user_surname">{{ i.date|date:'j.m.Y' }}</td>
                        <td class="field-date_start nowrap">{% if i.te_id %}<a href="{% url 'admin:survey_tasksexecution_change' i.te_id%}">{% else %}<a href="">{% endif %}{% if i.start_date %}{{ i.start_date|date:'j E Y г. H:i' }}{% else %}-{% endif %}</a></td>
                        <td class="field-date_end nowrap">{% if i.end_date %}{{ i.end_date|date:'j E Y г. H:i' }}{% else %}-{% endif %}</td>
                        <td class="field-user_surname">{% if i.user_money %}{{ i.user_money }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}

                    {% endfor %}
                </tbody>
            </table>

            {% if not id_user %} <div style="text-align: center; padding-top: 20px"><p>Для отображения данных выберите торгового представителя</p></div>
            {% endif %}
       </div>
    </div>


{% if page_obj.paginator.num_pages > 1 %}
<div class="paginator">
    {% if page_obj.has_previous %}
      {% if page_obj.number > 3 %}
        <a class="a1" href="?page=1&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">1</a>
        {% if page_obj.number > 4 %}
          <span>...</span>
        {% endif %}
      {% endif %}
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <span class="a1">&nbsp;{{ num }}&nbsp;</span>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="a1" href="?page={{ num }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span>...</span>
        <a class="a1" href="?page={{ page_obj.paginator.num_pages }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ page_obj.paginator.num_pages }}</a>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <a class="a1" href="?page={{ page_obj.paginator.num_pages }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
    {% endif %}&nbsp; &nbsp;<span class="a1">{{ quantiy }} Всего задач</span>
</div>
    </div>
{% endif %}

{% endblock %}
