/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#map {
    text-align: center;
}

#map:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}