.page-title {
    font-size: 2rem !important;
    font-weight: 500 !important;

}
h2 {
    font-size: 1.5rem !important;
    margin-top: 4rem !important;
    font-weight: 500 !important;
}

h3 {
    font-size: 1.3rem !important;
    font-weight: 400 !important;
    text-decoration: underline;
}

/*.markdown-body code {*/
    /*padding: .3em !important;*/
    /*margin: 0 !important;*/
    /*font-size: 85% !important;*/
    /*background-color: rgba(27,31,35,.05) !important;*/
    /*border-radius: 3px !important;*/
/*}*/