{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block content_title %}<h1>{{ _('Отчет по версиям приложения') }}</h1>{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="/jsi18n/"></script>
    <link href="{% static "admin/css/vendor/select2/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "admin/css/autocomplete.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "public_model/boolean_switch.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/select2/select2.full.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/autocomplete_light.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "autocomplete_light/i18n/ru.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/select2.css" %}">
    <link href="{% static "admin/css/vendor/select2/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "admin/css/autocomplete.css" %}" type="text/css" media="screen" rel="stylesheet">
    <link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}
        {% block usertools %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endblock %}
{% block title %}{{ _('Surveyors report') }} | {{ _('Django site admin') }}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'survey:reports' %}">{% trans 'Reports' %}</a>
&rsaquo; {{ _('Отчет по версиям приложения') }}
</div>
{% endblock %}
{% block content %}
<div id="content-main">
<form method="get" action="{% url 'survey:report_devicesurveyors' %}">
<table>
    <tr>
        <td style="vertical-align: middle; border-right: 1px solid #eee; padding: 0 20px 10px 0">
            Дата начала: &nbsp; с &nbsp; <input type="text" name="datetime_start" value="{{ datetime_start|date:"d.m.Y" }}" size="10" id="orders_datetime_start" class="vDateField">
        <span class="datetimeshortcuts">
        </span>
        &nbsp;&nbsp;&nbsp; по &nbsp; <input type="text" name="datetime_end" value="{{ datetime_end|date:"d.m.Y" }}" size="10" id="orders_datetime_end" class="vDateField">
        <span class="datetimeshortcuts">
        </span>
        </td>
        <td style="vertical-align: middle; padding: 10px 20px 10px 20px">
            <input type="submit" name="build_report" value="{% trans "Построить отчет" %}" id="report_surveyors" class="default"> &nbsp;
        </td>
        <td style="vertical-align: middle; padding: 10px 0 10px 20px">
            <input type="submit" name="export_report" value="{% trans "Export to Excel" %}" id="report_taxpayers" class="default"> &nbsp;
        </td>
    </tr>
</table>
</form>
<div id="content-main"><div class="results"><div class="module filtered" id="changelist">
<table id="result_list" style="height: 100%">
<thead>
<tr>
<th scope="col">
   <div class="text"><span>Пользователь</span></div>
   <div class="clear"></div>
</th>
<th scope="col">
   <div class="text"><span>Дата регистрации пользователя</span></div>
   <div class="clear"></div>
</th>
<th scope="col">
   <div class="text"><span>Дата последнего выполненного задания</span></div>
   <div class="clear"></div>
</th>
<th scope="col">
   <div class="text"><span>Кол-во выполненных заданий</span></div>
   <div class="clear"></div>
</th>
<th scope="col">
   <div class="text"><span>Версия приложения у пользователя</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
{% for r in data %}
{% for i in r.data %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td class="field-user_surname"><a href="{% url 'admin:survey_user_change' i.user_id%}">{{ i.fio }}</a></td>
    <td class="field-date_join nowrap">{% if i.date_join %}{{ i.date_join|date:'j E Y г. H:i' }}{% else %}-{% endif %}</td>
    <td class="field-date_end nowrap">{% if i.te_max_date %}{{ i.te_max_date|date:'j E Y г. H:i' }}{% else %}-{% endif %}</td>
    <td class="field-user_surname"><a href="/survey/tasksexecution/?date_start__gte={{ datetime_start|date:"Y-m-d" }} 00:00:00&date_start__lt={{ datetime_end|date:"Y-m-d" }} 23:59:59&user__id={{ i.user_id }}">{{ i.te_count_done }}</a></td>
    <td class="field-user_surname">{{ i.version }}</td>
</tr>
{% endfor %}
{% endfor %}

</tbody>
    </table>
{% if page_obj.paginator.num_pages > 1 %}
<div class="paginator">
    {% if page_obj.has_previous %}
      {% if page_obj.number > 3 %}
        <a class="a1" href="?page=1&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">1</a>
        {% if page_obj.number > 4 %}
          <span>...</span>
        {% endif %}
      {% endif %}
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <span class="a1">&nbsp;{{ num }}&nbsp;</span>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="a1" href="?page={{ num }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span>...</span>
        <a class="a1" href="?page={{ page_obj.paginator.num_pages }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ page_obj.paginator.num_pages }}</a>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
        <a class="a1" href="?page={{ page_obj.paginator.num_pages }}&datetime_start={{datetime_start|date:"d.m.Y" }}&datetime_end={{datetime_end|date:"d.m.Y"}}&id_user={{id_user}}&task_isdone={{ task_isdone_selected }}">{{ page_obj.paginator.num_pages }}</a>
      {% endif %}
    {% endif %}&nbsp; &nbsp;<span class="a1">{{ quantiy }} Всего пользователей</span>
</div>
{% endif %}

</div></div></div>
{% endblock %}
